header {
    background-color: red;
    padding: 5px;
}

#menu {
    background-color:gray ;
    margin: 0%;
}
#menu li a {
    color: white;
    text-decoration: none;
    font-size: 12pt;
}
#menu li {
    display: inline-block;
    padding: 8px;
}

#menu li:nth-child(2):hover #dropdown1, #menu li:nth-child(3):hover #dropdown2 {
    display: block;
}
#dropdown1, #dropdown2 {
    display: none;
    position: absolute;
    width: auto;
    max-width: 120px;
    background-color: whitesmoke;
    padding: 0px;
    top:105px;
}
#dropdown1 li, #dropdown2 li {
    display: block;
}
#dropdown1 li :hover, #dropdown2 li :hover {
    background-color: gainsboro;
    color: black;
}
#dropdown1 li a, #dropdown2 li a {
    color: black;
}